* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    background: #0f0f12;
}

.fullvh {
    display: grid;
    place-items: center;
    height: 100vh;
}

.wrapper {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    height: auto;
    background-color: #232328;
}

.wrapper .side .stick-container {
    position: sticky;
    height: 100vh;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.wrapper .side .stick-container .section_clone {
    display: grid;
    place-items: center;
    margin: 5px 10px;
    background: #0f0f12;
    text-align: center;
    flex-grow: 1;
    transition: all 0.3s ease;

    border-radius: 10px;
    color: #c3c4ca;
    font-size: 3.0vh;
    text-decoration: none;
    font-family: 'Spectral';
}

.wrapper .side .stick-container .section_clone:hover {
    border-bottom: #8a8c92 2px solid;
}



.wrapper .side .stick-container section:hover,
.wrapper .side .stick-container .inView {
    flex-grow: 10;
}

.main {
    scroll-snap-type: y mandatory;
}

.main > section {
    scroll-snap-align: center;
    min-height: 100vh;
    height: auto;
    margin: 10px 10px;
    background: #0f0f12;
    color: #ffffff;
    outline: 0px solid #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.text-logo {
    font-family: 'Instrument Serif', serif;
    font-size: 8rem;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    text-align: center;
}

.text-body {
    font-family: 'Spectral';
    font-size: 5vh;
    color: #fff;
}

.form-label {
    font-family: 'Spectral';
    font-weight: normal;
    font-size: 3vh;
    color: #c3c4ca;
}

/* contact form */
#contact {
    padding: 50px;
}

.form-group {
    margin: 2%;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;

    background-color: #0f0f12;
    margin-bottom: 3.5%;
    border-bottom: #c3c4ca solid 1px;
}

.form-button {
    margin-top: 3.5%;
    background-color: transparent;
    border: solid 1px #c3c4ca;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.form-button:hover {
    background-color: #232328;
    border-color: #c3c4ca;
}
