* {
    margin: 0;
    padding: 0;
}

:root {
    --accent-color : #7156b1;
    --accent-color-dimmed: #443974;
    --background-color: #0f0f12;
    --background-color-secondary: #8f8a92;
    --text-color-primary: #ffffff;
    --text-color-secondary: #c3c4ca;

    /* borders */
    --border-small: 2px;
    --border-medium: 4px;
    --border-large: 8px;

    /* font sizes */
    --font-size-small: 1.5rem;
    --font-size-smallish: 2rem;
    --font-size-medium: 3rem;
    --font-size-mediumish: 4rem;
    --font-size-large: 5rem;

    --font-size-xlarge: 8rem;
    --font-size-jumbo: 10rem;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    background: #0f0f12;
}

.fullvh {
    display: grid;
    place-items: center;
    height: 100vh;
}

.wrapper {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    height: auto;
    background-color: #232328;
}

.wrapper .side .stick-container {
    position: sticky;
    height: 100vh;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.wrapper .side .stick-container .section_clone {
    display: grid;
    place-items: center;
    margin: 5px 10px;
    background: var(--background-color);
    text-align: center;
    flex-grow: 1;
    transition: all 0.3s ease;

    border-radius: 10px;
    color: var(--text-color-secondary);
    font-size: var(--font-size-medium);
    text-decoration: none;
    font-family: 'Spectral';
    border-bottom: transparent var(--border-small) solid;
    
}

.wrapper .side .stick-container .section_clone:hover {
    border-bottom: var(--accent-color) 2px solid;
}



.wrapper .side .stick-container section:hover,
.wrapper .side .stick-container .inView {
    flex-grow: 10;
}

.main {
    scroll-snap-type: y mandatory;
}

.main > section {
    scroll-snap-align: center;
    min-height: 100vh;
    height: auto;
    margin: 10px 10px;
    background: var(--background-color);
    color: #ffffff;
    outline: 0px solid #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.text-logo {
    font-family: 'Instrument Serif', serif;
    font-size: var(--font-size-xlarge);
    font-weight: 400;
    font-style: normal;
    color: #fff;
    text-align: center;
}

.text-body {
    font-family: 'Spectral';
    font-size: 5vh;
    color: #fff;
}

.form-label {
    font-family: 'Spectral';
    font-weight: normal;
    font-size: 3vh;
    color: var(--text-color-secondary);
}

/* contact form */
#contact {
    padding: 50px;
}

.form-group {
    margin: 2%;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;

    background-color: var(--background-color);
    margin-bottom: 3.5%;
    border: transparent solid var(--border-medium);
    border-bottom: var(--text-color-secondary) solid var(--border-small);

    transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border: var(--accent-color) solid var(--border-small);
    outline: none;
}



.form-button {
    font-family: 'Spectral';
    margin-top: 3.5%;
    background-color: transparent;
    border: solid var(--border-small) var(--text-color-secondary);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: border 0.1s ease-in-out; /* Add this line */
}

.form-button:hover {
    border: solid var(--border-small) var(--accent-color);
}

.form-button:active {
    background-color: var(--accent-color-dimmed);
}